modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["chromium"]

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "vm"
run = ["npm", "run", "start"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BCK96gAWhZm4WTo-b479RTiczvRS3oRl2ZV1O3q6lW8xpPVdmAVL_4TGv6USAhqcImXzrZ6-wWGWQiDKZ-qQ0dI"
VAPID_PRIVATE_KEY = "-ahHYzgrOmrFaGt9SvbaMwBQ3C5Cto02hhhoHNjPfB4"
VAPID_EMAIL = "mailto:admin@kpetro.or.kr"
